@media screen and (max-width: 1440px) {

	.center {
		width: 70%;
		height: 65vh;
		position: relative;
		top: 17%;
		left: 14%;
	}

	h1 {
		padding-top: 30px;
		padding-left: 69px;
	}

	.l-img {
		width: 250px;
		margin-right: 17%;
		margin-top: 27%;

	}

	.text {
		font-size: 85px;
		color: green;
		text-align: center;
		margin-top: 90%;
	}

	.inp1 {
		margin-top: 22px;
		margin-left: 28%;
	}

	button {
		margin-left: 30%;
	}

	p {
		margin-top: 20px;
	}
}


@media screen and (max-width: 1024px) {

	.center {
		width: 90%;
		height: 65vh;
		position: relative;
		top: 17%;
		left: 4%;
	}

	h1 {
		padding-top: 30px;
		padding-left: 69px;
	}

	.l-img {
		width: 250px;
		margin-right: 17%;
		margin-top: 27%;

	}

	.text {
		font-size: 55px;
		color: green;
		text-align: center;
		margin-top: 90%;
	}

	.inp1 {
		margin-top: 22px;
		margin-left: 26%;
	}

	button {
		margin-left: 30%;
	}

	p {
		margin-top: 20px;
	}
}