@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

:root {
    --primary-color: #fff;
    --secondary-color: #ff5100;
    --tirnary-color: #093466;
}

/* Utility Classes */
a {
    text-decoration: none;
    outline: none;
    color: #000000;
    font-size: 1.20rem;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1280px;
    margin-inline: auto;
}

/* Header Area Strat */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 15px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    text-decoration: none;
    font-size: 1.90rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.main-nav {
    align-items: center;
    gap: 40px;
}

.main-nav a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    font-weight: 500;
    color: var(--tirnary-color);
    transition: 0.5s ease;
}

.main-nav a:hover {
    color: #ff5100;
}

#open-menu {
    color: #fff;
    cursor: pointer;
    display: none;
}

.main-nav .signin-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 7px 14px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.4s ease;
}

.main-nav .signin-btn:hover {
    background-color: var(--tirnary-color);
    color: var(--primary-color);
}

.main-nav .signup-btn {
    color: var(--secondary-color);
    padding: 7px 14px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    margin-left: -20px;
    transition: all 0.4s ease;
}

.main-nav .signup-btn:hover {
    border: 1px solid var(--tirnary-color);
    color: var(--tirnary-color);
}

/* packages section start from here  */
.pacakages {
    font-size: 2.4rem;
    margin: 40px 40px;
    text-align: center;
}

.pacakages .packages-section h2 {
    margin-top: 90px;
    font-size: 2.80rem;
}

.pacakages .discount-h4{
    font-weight: 500;
    margin-bottom: 40px;
    background-color: #c7ac23;
    color: #fff;
    font-size: 1rem;
    border-radius: 25px;
    width: 50%;
    padding: 2px 10px;
    transform: translateX(50%);
}

.pacakages .packages-section .national-h3 {
    text-align: start;
    font-size: 1.80rem;
    margin-bottom: 20px;
    color: var(--tirnary-color);
}

.pacakages .packages-section .international-h3 {
    text-align: start;
    font-size: 1.80rem;
    margin-bottom: 20px;
    margin-top: 40px;
    color: var(--tirnary-color);
}

.pacakages-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 30px;
}

.pacakages-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.pacakages-item {
    text-align: left;
}

.pacakages-item .box-content {
    padding: 5px 10px;
    background-color: var(--primary-color);
    height: 200px;
    width: 100%;
    margin-top: -20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pacakages-item .box-content h3 {
    font-size: 1.30rem;
    font-weight: 500;
}

.pacakages-item .box-content h4 {
    font-size: 0.9rem;
    margin-top: 12px;
    font-weight: 400;
}

.pacakages-item .box-content span {
    background-color: #fddb32;
    color: #000000;
    font-size: 0.8rem;
    border-radius: 25px;
    width: 67%;
    padding: 2px 10px;
    margin-top: 2px;
    display: block;
}

.pacakages-item .box-content .off-color {
    background-color: #008000;
    color: var(--primary-color);
    width: 25%;
    font-weight: 600;
}

.pacakages-item .box-content span svg {
    height: 18px;
    margin-right: 2px;
}

.pacakages-item .box-content p {
    font-size: 1.20rem;
    font-weight: 600;
}

.pacakages-item .box-content .spc-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 7px 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.4s ease;
}

/* Footer section start from here  */
.footer-section {
    background-color: var(--tirnary-color);
    height: 450px;
    margin-top: 70px;
    padding-bottom: 20px;
}

.vip-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    color: var(--primary-color);
}

.vip-links .hover-link {
    text-decoration: none;
    color: #ffffff70;
    transition: 0.4s ease;
}

.vip-links .hover-link:hover {
    color: var(--primary-color);
}

.main-footer {
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 90px;
}

.main-footer .logo-heading {
    text-decoration: none;
}

.logo-heading .first-logo-text {
    color: var(--primary-color);
    font-size: 1.70rem;
    font-weight: 700;
}

.logo-heading .second-logo-text {
    color: var(--secondary-color);
    font-size: 1.70rem;
    font-weight: 700;
}


/* sub-footer section strat from here*/

.sub-footer {
    padding: 30px;
    padding-bottom: 20px;
    background-color: var(--tirnary-color);
}

.sub-footer-container {
    justify-content: space-between;
    gap: 30px;
    border-top: 1px solid #ffffff70;
}

.sub-footer-container a {
    color: var(--primary-color);
    margin-block: 25px;
    text-decoration: none;
}

.copyright-area {
    align-items: flex-start;
    gap: 30px;
}

.copyright-area p {
    font-size: 0.9rem;
    color: var(--primary-color);
}

.socialmedia {
    align-items: flex-end;
    gap: 20px;
}

.socialmedia a {
    font-size: 1.80rem;
    transform: scale(1);
    transition: 0.4s ease;
}

.socialmedia a:hover {
    transform: scale(1.1);
}


/* media quires start from here  */

@media only screen and (max-width: 1065px) {
    #open-menu {
        display: block;
    }

    .box-icon div {
        position: relative;
        width: 35px;
        height: 30px;
    }

    .box-icon span {
        background-color: var(--tirnary-color);
        height: 3px;
        width: 90%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease-in-out;
    }

    .box-icon .line-1 {
        transform: translate(-50%, -9px);
    }

    .box-icon .line-3 {
        transform: translate(-50%, 6px);
    }

    .openmenu .line-1 {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .openmenu .line-2 {
        width: 0;
    }

    .openmenu .line-3 {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .main-nav {
        flex-direction: column;
        position: absolute;
        left: 100%;
        top: 100%;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 30px 0;
        height: 100vh;
        background-color: var(--primary-color);
        transition: 0.4s all ease;
    }

    .main-nav.active {
        left: 0;
    }

    .main-nav a {
        font-size: 1.50rem;
        margin-top: -15px;
        color: var(--tirnary-color);
    }

    .main-nav .signup-btn {
        margin-left: 3px;
    }
}

@media only screen and (max-width: 992px) {
    .pacakages-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .main-footer {
        flex-direction: column;
        height: 1100px;
        margin-left: 20px;
    }

    .footer-section {
        height: 1100px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 15px 50px;
    }

    .sub-footer-container {
        flex-direction: column-reverse;
        gap: 0;
    }

    .copyright-area {
        margin-top: 20px;
    }

    .copyright-area p {
        text-align: center;
    }
}

@media only screen and (max-width: 570px) {
    .main-nav a {
        font-size: 1rem;
    }
    .pacakages .packages-section h2 {
        font-size: 2rem;
    }

    .pacakages .packages-section .discount-h4{
        font-size: 0.7rem;
        width: 100%;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 479px) {
    header {
        padding: 15px 30px;
    }

    .logo {
        font-size: 1.20rem;
    }

    .box-icon div {
        width: 29px;
        height: 30px;
    }

    .pacakages .packages-section h2 {
        font-size: 1.60rem;
    }

    .pacakages .packages-section h4 {
        font-size: 0.8rem;
    }

    .pacakages-item .box-content span {
        width: 60%;
        font-size: 0.7rem;
    }

    .pacakages-item .box-content h3 {
        font-size: 1.10rem;
    }

    .pacakages-item .box-content h4 {
        font-size: 0.8rem;
    }

    .pacakages-item .box-content p {
        font-size: 1.10rem;
    }

    .pacakages-item .box-content .spc-btn {
        font-size: 0.9rem;
    }

    .logo-heading .first-logo-text {
        font-size: 1.40rem;
    }

    .logo-heading .second-logo-text {
        font-size: 1.40rem;
    }

    .vip-links h4 {
        font-size: 1.20rem;
    }

    .vip-links .hover-link {
        font-size: 1rem;
    }

    .socialmedia {
        margin-bottom: -26px;
    }

}
