@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

:root {
    --primary-color: #fff;
    --secondary-color: #ff5100;
    --tirnary-color: #093466;
}

/* Utility Classes */
a {
    text-decoration: none;
    outline: none;
    color: #000000;
    font-size: 1.20rem;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 20px;
}

/* header section start from here  */
.header {
    background-color: var(--tirnary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    text-align: center;
}

.header .top-h3 {
    font-size: 1.80rem;
}

.header .top-h5 {
    font-size: 1.20rem;
}

/* left side content section start from here  */
.left-side-images {
    margin-top: -170px;
}

.text-content h2 {
    color: var(--tirnary-color);
    position: relative;
    margin-bottom: 12px;
}

.text-content p {
    margin-bottom: 25px;
    max-width: 500px;
}


.left-side-images .images {
    margin-bottom: 25px;
}

.left-side-images .contact-us {
    font-size: 0.9rem;
    color: var(--tirnary-color);
    margin-bottom: 20px;
}

.left-side-images .contact-us a {
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--tirnary-color);
}

.left-side-images .back-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 7px 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
}

/* payment form section start from here  */
.payment-main-div {
    justify-content: space-around;
    padding: 10px 60px;
}


.primary-container {
    background-color: var(--primary-color);
    margin-top: 20px;
    margin-left: 40px;
    padding: 15px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.box {
    /* width: 300px; */
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.primary-container h3 {
    font-size: 1.80rem;
    margin: 15px;
    text-align: center;
}

.name {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.name input {
    width: 100%;
    padding: 10px 30px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;
}

.email {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.email input {
    width: 100%;
    padding: 10px 30px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;
}

.phone-number {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.phone-number input {
    width: 100%;
    padding: 10px 30px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;
}

.message-box {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.message-box textarea {
    width: 100%;
    padding: 10px 30px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;
}

.choose-currency {
    /* width: 40%; */
    padding: 10px 20px;
    display: inline-block;
    margin-left: -38px;
}

.choose-currency select {
    padding: 10px 5px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;
    display: inline;
}

.amt {
    display: inline-block;
    width: 75%;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;
}

.button {
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
}

.pay-now {
    background-color: var(--tirnary-color);
    color: var(--primary-color);
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.message {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.message .success {
    font-size: 1.10rem;
    text-align: center;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}

.message .danger {
    font-size: 1.20rem;
    text-align: center;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons {
    0% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

/* Footer section start from here  */
.footer-section {
    background-color: var(--tirnary-color);
    height: 450px;
    margin-top: 70px;
    padding-bottom: 20px;
}

.vip-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    color: var(--primary-color);
}

.vip-links .hover-link {
    text-decoration: none;
    color: #ffffff70;
    transition: 0.4s ease;
}

.vip-links .hover-link:hover {
    color: var(--primary-color);
}

.main-footer {
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 90px;
}

.main-footer .logo-heading {
    text-decoration: none;
}

.logo-heading .first-logo-text {
    color: var(--primary-color);
    font-size: 1.70rem;
    font-weight: 700;
}

.logo-heading .second-logo-text {
    color: var(--secondary-color);
    font-size: 1.70rem;
    font-weight: 700;
}


/* sub-footer section strat from here*/

.sub-footer {
    padding: 30px;
    padding-bottom: 8px;
    background-color: var(--tirnary-color);
}

.sub-footer-container {
    justify-content: space-between;
    gap: 30px;
    border-top: 1px solid #ffffff70;
}

.sub-footer-container a {
    color: var(--primary-color);
    margin-block: 25px;
    text-decoration: none;
}

.copyright-area {
    align-items: flex-start;
    gap: 30px;
}

.copyright-area p {
    font-size: 0.9rem;
    color: var(--primary-color);
}

.socialmedia {
    align-items: flex-end;
    gap: 20px;
}

.socialmedia a {
    font-size: 1.80rem;
    transform: scale(1);
    transition: 0.4s ease;
}

.socialmedia a:hover {
    transform: scale(1.1);
}


/* media quires start from here  */
@media only screen and (max-width: 990px) {
    .payment-main-div {
        flex-direction: column;
        gap: 50px;
    }

    .left-side-images {
        margin-top: 40px;
    }

    .main-footer {
        flex-direction: column;
        height: 1100px;
        margin-left: 20px;
    }

    .footer-section {
        height: 1100px;
    }

}

@media only screen and (max-width: 550px) {
    .top-h3 {
        font-size: 1.10rem;
    }
    .top-h5 {
        font-size: 1rem;
    }

    .sub-footer {
        padding-bottom: 30px;
    }

    .sub-footer-container {
        flex-direction: column-reverse;
        gap: 0;
    }

    .copyright-area {
        margin-top: 20px;
    }

    .copyright-area p {
        text-align: center;
    }

    .vip-links h4 {
        font-size: 1.20rem;
    }

    .vip-links .hover-link {
        font-size: 1rem;
    }

    .socialmedia {
        margin-bottom: -26px;
    }

    .primary-container h3 {
        font-size: 1.40rem;
    }

    .box {
        height: 838px;
        padding: 0 16px;
    }

    .amt {
        width: 107%;
        margin-top: 8px;
    }

    .choose-currency {
        margin-left: -22px;
    }

    .message .danger,
    .message .success {
        font-size: 0.8rem;
        text-align: center;
        margin-top: -12px;
    }

    .name {
        margin-top: 70px;
    }

    .logo-heading .first-logo-text {
        font-size: 1.40rem;
    }
    
    .logo-heading .second-logo-text {
        font-size: 1.40rem;
    }
}